/SISTEMA DE LA UTPL PROMEDIO DE NOTAS EJ.02/ej.02/nbproject/private/
/SISTEMA DE LA UTPL PROMEDIO DE NOTAS EJ.02/ej.02/build/
/NUMERO ADIVINAR 2.0/NumeroAdivinar/nbproject/private/
/NUMERO ADIVINAR 2.0/NumeroAdivinar/build/
